h2{font-family:serif;
		font-size: 2.5em;
		font-weight: lighter;
		margin: 250px 100px 10px 500px;
		margin-top: 250px;
	}

h3{
	font-family:serif;
	font-size: 1.2em;
	margin: 0px 50px 0px 900px;
	font-weight: lighter;
}


.caption1{
	position:relative;
	font-family: serif;
	font-size: 1.2em;
	opacity: 1;
	margin: 0px 50px 0px 900px;	
}



iframe{
	margin:0 0 0 0;
	width:100%;
	height:800px;
}

.section{
	opacity: 0;
}

.gdpcap{
	background-color:#bdbdbd;
}

.unemployment{
	background:#fff;
}

.lifeexpect{
	background-color: #bdbdbd;
}

#head{
	background-color: white;
	margin-bottom: 250px;
	z-index: 2;

}

p{
	margin-top: 50px;
	margin-right: 80px;
	margin-left: 350px;
	font-size: 18px;
	z-index: 2;
	background-color: rgba(0,0,0,0.2);
	padding:20px;


}

.bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.2;
}


